.home-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  
  .domain-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
    justify-content: center;
  }
  
  .domain-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
  }
  
  .domain-card:hover {
    background-color: #eaeaea;
    transform: scale(1.1);
  }