.home-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: #333;
}
  
.domain-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
    justify-content: center;
}
  
/* Common styles for all domain cards */
.domain-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #0c0c0c;
    padding: 40px;
    border: 2px solid #6b3f6d;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}
  
/* Specific background images for individual domain cards */
.domain-card.geography {
    background-image: url('../../../assets/images/geo.jpg'); /* Replace with your geography image path */
}
  
.domain-card.history {
    background-image: url('../../../assets/images/history.jpg'); /* Replace with your history image path */
}
  
.domain-card.science {
    background-image: url('../../../assets/images/science.jpg'); /* Replace with your science image path */
}
  
.domain-card.math {
    background-image: url('../../../assets/images/math.jpg'); /* Replace with your literature image path */
}
.domain-card.movies {
  background-image: url('../../../assets/images/movies.jpg'); /* Replace with your literature image path */
}
.domain-card.technology {
  background-image: url('../../../assets/images/tech.jpg'); /* Replace with your literature image path */
}
.domain-card.sports {
  background-image: url('../../../assets/images/sports.jpg'); /* Replace with your literature image path */
}
.domain-card.music {
  background-image: url('../../../assets/images/music.jpg'); /* Replace with your literature image path */
}

.domain-card:hover {
  transform: scale(1.1);
}

/* Responsive styling: 1 domain per row on phones */
@media (max-width: 600px) {
  .domain-grid {
    grid-template-columns: 1fr;
  }
}
